[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vmustache"]
	path = .vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule ".vim/bundle/pdv"]
	path = .vim/bundle/pdv
	url = https://github.com/tobyS/pdv.git
